body {
    font-family: 'Montserrat', sans-serif;
}

* {
    color: #515050;
}

button {
    padding: 0;
    display: block;
    border-style: none;
    font-weight: 400;
    font-size: 20px;
    color: #6C6867;
    background: transparent;
    background-repeat: no-repeat;
}

button:hover {
    color: #8A73C5;
}

.s1 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
}

.s2 {
    font-size: 14px;
    font-weight: regular;
}

.logo {
    margin-top: 33px;
    margin-bottom: 37px;
    width: 143px;
    height: 30px;
    background-image: url("../img/logo.png");
}

.main_menu {
    margin-top: 32px;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.main_menu li button {
    text-align: left;
}

.main_menu ul {
    display: none;
    position: absolute;
    top: 100%;
}

/* отображаем выпадающий список при наведении */
.main_menu li:hover > ul {
    width: 141px;
    border: 1px solid #8A73C5;
    background-color: #FFFFFF;
    padding-top: 31px;
    padding-left: 25px;
    padding-bottom: 41px;
    display: flex;
    flex-direction: column;
    gap: 29px;
}

/* первый уровень выпадающего списка */
.main_menu li {
    list-style: none;
    position: relative;
}

.buttons_menu {
    margin-top: 36.5px;
    display: flex;
    justify-content: space-around;
}

.buttons_menu button {
    height: 23px;
    width: 23px;
}

.favourite {
    background-image: url("../img/favourite.png");
}

.favourite:hover {
    background-image: url("../img/favourite_hover.png");
}

.cart {
    background-image: url("../img/cart.png");
}

.cart:hover {
    background-image: url("../img/cart_hover.png");
}

.search {
    background-image: url("../img/search.png");
}

.search:hover {
    background-image: url("../img/search_hover.png");
}

.main-block {
    height: 1039px;
    background: #FFE0ED;
}

.center-flex {
    display: flex;
    justify-content: center;
}

.about-us__left {
    width: 440px;
    margin-top: 104px;
}

.about-us__title {
    font-weight: 629;
    font-size: 45;
    margin-bottom: 20px;
}

.left-image {
    margin-top: 20px;
}

.about-us__right {
    width: 440px;
    margin-top: 151px;
}

.right-image {
    margin-bottom: 30px;
}

.footer {
    height: 290px;
    background-color: #EDE9F8;
}

.footer-center {
    margin-top: 130px;
    margin-bottom: 130px;
}

.flex-cont {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px
}

.tel {
    color: #6C6867;
    margin: 0;
    font-size: 20px;
}

.flex-cont button {
    margin: 0;
}