.s1 {
    margin-bottom: 0;
}

.main-block {
    height: 1039px;
    background: #FFE0ED;
}

.center-flex {
    display: flex;
    justify-content: center;
}

.about-us__left {
    width: 440px;
    margin-top: 104px;
}

.about-us__title {
    font-weight: 629;
    font-size: 45;
    margin-bottom: 20px;
}

.left-image {
    margin-top: 20px;
}

.about-us__right {
    width: 440px;
    margin-top: 151px;
}

.right-image {
    margin-bottom: 30px;
}